.padding {
  height: 100vh;
  padding: calc(var(--spacing) * 5);
}

.padding > div:first-child {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 6);
}

.btn-secondary {
  padding: 8px 16px;
  background-color: white;
  border-radius: 50px;
  transition: 100ms;
  border: 1px solid var(--color-gray-300);
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  height: fit-content;
  font-size: small;
}

.btn-main {
  padding: 8px 16px;
  background-color: rgb(97, 144, 97);
  border-radius: 50px;
  transition: 100ms;
  border: 1px solid rgb(48, 92, 49);
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  height: fit-content;
  font-size: small;
  color: white;
}

.btn-secondary:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.btn-main:hover {
  background-color: rgb(79, 122, 79);
  cursor: pointer;
}

.search {
  padding: 8px 16px;
  background-color: white;
  border-radius: 50px;
  transition: 100ms;
  border: 1px solid var(--color-gray-300);
  display: flex;
  gap: 8px;
  align-items: center;
  width: 40%;
  cursor: pointer;
}

.input {
  display: block;
  width: 100%;
  outline: 1px solid var(--color-gray-300);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 6px 12px;
  outline-offset: 1px;
  appearance: none;
  cursor: pointer;
}

.input::placeholder {
  color: var(--color-gray-300);
}

.input:focus {
  outline-offset: 2px;
  outline: 1px solid var(--color-gray-400);
}
